.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

.the-title {
  text-align: center;
  font-size: 300%;
}

#info {
  text-align: center;
}

.the-info {
  text-align: center;
}

.header {
  background-color: white;
}

.foots {
  text-align: center;
  font-size: 125%;
}

.main-content {
  margin-top: 9%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 5px;
}

.no-data {
  padding-top: 30px;
  margin-right: 5%;
  font-size: 130%;
}
