.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

.the-title {
  text-align: center;
  font-size: 350%;
}

#info {
  text-align: center;
}

.the-info {
  text-align: center;
}

.header {
  background-color: #ff9999;
}

.foots {
  text-align: center;
  font-size: 125%;
}
